{% extends "base.html"%}
{% block content%}
<h1>Details</h1>
     <h1>{{post.title}}</h1>
     <small>Posted at {{post.date_added}}</small>
     <p>{{post.intro}}</p>
     <p>{{post.body}}</p>

     <hr>

     <h2>Comment</h2>
     {% for comment in post.comments.all %}
     <p><strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small></p>
     <br>

     {% empty %}
     <p>No comments</p>
     {% endfor %}

     <hr>

     <form method="post">
     	{% csrf_token%}
     	{{form.as_p}}
     	<button type="submite" >Add Comment</button>
     </form>
{% endblock%}